/* 鍏敤 */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fl-container {
  width: 890px;
  margin: auto;
}

.fl-home-row {
  margin-top: 30px;
}

.fl-container-fluid {
  padding: 0;
  padding-bottom: 40px;
}

/* 瀵艰埅鏍� */
#fl-navbar-header {
  width: 65px;
  overflow: hidden;

  transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

#fl-navbar-header .navbar-brand {
  width: 80px;
  overflow: hidden;
}

#fl-logo {
  display: inline-block;
  width: 50px;
  height: 35px;
  background-image: url(../image/logo-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 1px 2px;
  border: 1px solid #7fca6c;
  border-radius: 7px;
  margin-top: -7px;
  cursor: pointer;
}

#fl-navbar-nav {
  padding-left: 15px;
  margin-bottom: 0;
}

#fl-home-navbar-tab>li>a {
  color: #777;
}

#fl-home-navbar-tab>li>a:hover, #fl-home-navbar-tab>li>a:focus {
  color: #7dc969;
}

#fl-home-search-input-group {
  width: 250px;
}

#fl-home-search-input {
  border-radius: 4px 0 0 4px;
}

#fl-home-search-btn {
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

#fl-user-name {
  margin-right: 10px;
}

/* 瑕嗙洊active鐨勬牱寮� */
#fl-navbar .navbar-nav>.active>a, #fl-navbar .navbar-nav>.active>a:hover, #fl-navbar .navbar-nav>.active>a:focus {
  background-color: #f8f8f8;
  color: #7dc969;
}

/* 鑿滃崟鐩綍 */
#fl-menu {
  position: fixed;
  height: 337px;
  width: 100px;
  z-index: 100;
  margin-left: 10%;
}

/* 瑕嗙洊boostrap涓嬫媺鑿滃崟 */
.fl-list-group-item .dropdown-menu {
  top: -3px;
  left: 99px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-left: 0;
  border-top-left-radius: 0;
  box-shadow: none;
}

.fl-list-group-item>ul>li {
  padding: 4px 0;
}

#fl-menu .fl-list-group-item {
  padding: 0;
}

.fl-menu-main-item {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color:#777;
}

.fl-menu-main-item:hover, .fl-menu-main-item:focus {
  text-decoration: none;
  color: #7dc969;
  cursor: pointer;
}

#fl-menu-logo-item {
  position: relative;
  top: 28px;
  width: 100%;
  height: 60px;
  background-image: url(../image/logo-number.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

#fl-menu:hover #fl-menu-logo-item, #fl-menu:focus #fl-menu-logo-item {
  background-image: url(../image/logo-numberC.png);

  -transform: translateY(-15px);
  -o-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
}

#fl-menu-fruit-item .dropdown-menu,
#fl-menu-product-item .dropdown-menu,
#fl-menu-vegetable-item .dropdown-menu,
#fl-menu-fish-item .dropdown-menu,
#fl-menu-livestock-item .dropdown-menu,
#fl-menu-plant-item .dropdown-menu {
  display: none;
}

#fl-menu-fruit-item:hover, #fl-menu-fruit-item:focus,
#fl-menu-product-item:hover, #fl-menu-product-item:focus,
#fl-menu-vegetable-item:hover, #fl-menu-vegetable-item:focus,
#fl-menu-fish-item:hover, #fl-menu-fish-item:focus,
#fl-menu-livestock-item:hover, #fl-menu-livestock-item:focus,
#fl-menu-plant-item:hover, #fl-menu-plant-item:focus {
  border-right: 0;
}

#fl-menu-fruit-item:hover .dropdown-menu, #fl-menu-fruit-item:focus .dropdown-menu,
#fl-menu-product-item:hover .dropdown-menu, #fl-menu-product-item:focus .dropdown-menu,
#fl-menu-vegetable-item:hover .dropdown-menu, #fl-menu-vegetable-item:focus .dropdown-menu,
#fl-menu-fish-item:hover .dropdown-menu, #fl-menu-fish-item:focus .dropdown-menu,
#fl-menu-livestock-item:hover .dropdown-menu, #fl-menu-livestock-item:focus .dropdown-menu,
#fl-menu-plant-item:hover .dropdown-menu, #fl-menu-plant-item:focus .dropdown-menu {
  display: block;
}

#fl-menu-fruit-icon,
#fl-menu-product-icon,
#fl-menu-vegetable-icon,
#fl-menu-vegetable-icon,
#fl-menu-fish-icon,
#fl-menu-livestock-icon,
#fl-menu-plant-icon {
  vertical-align: middle;
  margin-right: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* 姘存灉 */
#fl-menu-fruit-icon, #fl-menu-product-icon {
  background-image: url(../image/fruit.svg);
}

.fl-menu-main-item:hover #fl-menu-fruit-icon, .fl-menu-main-item:focus #fl-menu-fruit-icon {
  background-image: url(../image/fruitC.svg);
  cursor: pointer;
}

/* 鍔犲伐鍝� */

#fl-menu-product-icon {
  margin-right: 0px;
  background-image: url(../image/honey.svg);
}

.fl-menu-main-item:hover #fl-menu-product-icon, .fl-menu-main-item:focus #fl-menu-product-icon {
  background-image: url(../image/honeyC.svg);
  cursor: pointer;
}

/* 绮敩 */

#fl-menu-vegetable-icon {
  background-image: url(../image/vegetable.svg);
}

.fl-menu-main-item:hover #fl-menu-vegetable-icon, .fl-menu-main-item:focus #fl-menu-vegetable-icon {
  background-image: url(../image/vegetableC.svg);
  cursor: pointer;
}

/* 姘翠骇 */

#fl-menu-fish-icon {
  background-image: url(../image/fish.svg);
}

.fl-menu-main-item:hover #fl-menu-fish-icon, .fl-menu-main-item:focus #fl-menu-fish-icon {
  background-image: url(../image/fishC.svg);
  cursor: pointer;
}

/* 鐣滅 */

#fl-menu-livestock-icon {
  background-image: url(../image/livestock.svg);
}

.fl-menu-main-item:hover #fl-menu-livestock-icon, .fl-menu-main-item:focus #fl-menu-livestock-icon {
  background-image: url(../image/livestockC.svg);
  cursor: pointer;
}

/* 妞嶇墿 */

#fl-menu-plant-icon {
  background-image: url(../image/plant.svg);
}

.fl-menu-main-item:hover #fl-menu-plant-icon, .fl-menu-main-item:focus #fl-menu-plant-icon {
  background-image: url(../image/plantC.svg);
  cursor: pointer;
}

/* 婊氬姩鍥炬ā鍧� */
#fl-carousel {
  position: relative;
  width: 100%;
  height: 587px;
  margin-top: 50px;
  top:0px;
  background-color: #f0f3ef;
}

#fl-carousel-img-list ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fl-carousel-img-1 {
  opacity: 1;
  background-image: url(../image/2_meitu_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#fl-carousel-img-2 {
  opacity: 0;
  background-image: url(../image/chayou_meitu_2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#fl-carousel-img-3 {
  opacity: 0;
  background-image: url(../image/timg_meitu_1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#fl-carousel-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 120px;
  margin: auto;
  height: 15px;
}

#fl-carousel-btn ul li {
  display: inline-block;
  width: 30px;
  height: 5px;
  background: #000;
  border-radius: 1px;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.5;
}

#fl-carousel-btn ul li:nth-last-child(1) {
  margin-right: 0;
}

#fl-carousel-btn ul li.active {
  background: #fff;
}

/* 鐗硅壊鍖烘ā鍧� */
#fl-special {
}

.fl-panel {
  position: relative;
  width: 250px;
  height: 271px;
  margin: auto;
  cursor: pointer;
}

.fl-panel a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.fl-home-model-title {
  padding: 40px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}
.fl-home-model-title-line {
  margin-bottom: 22px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.fl-home-panel-body {

}

.fl-home-goods-name {
  width: 198px;
  height: 40px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #333333;
}

.fl-home-goods-img img {
  width: 100%;
  height: 185px;
}

.fl-home-price {
  height: 45px;
  font-size: 18px;
  color: #FF0036;
}

/* 瑕嗙洊boostrap鐨勯潰鏉� */
#fl-special .fl-list-group-item ,#fl-discount .fl-list-group-item{
  border: 0;
}

#fl-discount {
  background-color: #f0f3ef;
}

#fl-discount .fl-panel {
  border: 0;
}

.fl-discount-panel {
  border-color: #fff;
}

.fl-panel-like {
  display: none;
  position: absolute;
  top: 75px;
  width: 100%;
  padding: 9px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: #555;
  font-size: 15px;
}

.fl-panel-like:hover, .fl-panel-like:focus {
  background: rgba(24,171,155,0.5);
  color: #fff;
  cursor: pointer;
}

.fl-panel-like span {

}

.fl-panel:hover .fl-panel-like {
  display: block;
}

.carousel-control.left , .carousel-control.right {
  background-image: none;
}

/* 骞冲彴浠嬬粛妯″潡 */

#fl-into {
  position: relative;
  /*background-color: rgba(66, 139, 202, 0.67);*/
  height: 340px;
  color: white;
  overflow: hidden;

}

#fl-into-bg {
  position: absolute;
  width: 100%;
  height: 340px;
  background-image: url(../image/sanhuali_tmp_meitu_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -100;

  transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

#fl-into:hover #fl-into-bg {
  -transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

#fl-bgi-sanhuali {
  display: none;
}

.fl-home-into {
  line-height: 28px;
  font-size: 14px;
}

#fl-home-into-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12px;
  width: 45px;
  margin: auto;
}

#fl-home-into-btn span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 43px;
  cursor: pointer;
}

#fl-home-into-btn span.active {
  width: 15px;
  height: 15px;
  border: 7px solid white;
  border-radius: 43px;
}

#fl-home-into-mitao {
  margin-right: 10px;
}

#fl-mitao, #fl-lizi {
  position: absolute;
  top: 135px;
  width: 890px;
}
/* 鏂伴椈妯″潡 */
#fl-news {
  background: white;
  padding-bottom: 80px;
}

#fl-news-list {

}

.fl-news-col-item {
  float: left;
  width: 440px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px 0;
  height: 110px;
}

.fl-news-img-wrap {
  padding: 0;
}

.fl-news-img {
  width: 143px;
  height: 110px;
}

.fl-news-title {
  width: 250px;
  font-size: 16px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  color: #0ba1e4;
}

.fl-news-time {
  color: #999;
  padding: 2px 0;
  font-size: 12px;
}

.fl-news-body {
  color: #919191;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 0;
  font-size: 12px;
}

/* 搴曢儴妯″潡 */

#fl-foot {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #f0f3ef;
  color: #777;
  text-align: center;
}

/* 杩斿洖椤堕儴 */
#fl-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-image: url(../image/raw-up.svg);
  background-size: cover;
  cursor: pointer;
}

#fl-top:hover, #fl-top:focus {
  background-image: url(../image/raw-upC.svg);
}
