html, body {
	height: 100%;
}

#fl-reg {
	width: 100%;
	height: 100%;
	background-image: url(../image/bg-shuidao2_meitu_2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#fl-reg .panel {
    position: absolute;
    width: 500px;
    height: 530px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#fl-reg .panel-body {
    padding-top: 35px;
}

#fl-reg .form-group{
}

#yzm {
    float: left;
    width: 68px;
    margin-right: 17px;
}

#fl-reg-btn {
    width: 250px;
    margin: auto;
}

#fl-reg-btn button {
	width: 100%;
}

#fl-reg .panel-footer {
	border-top: 0;
	background-color: transparent;
    text-align: center;
}

#fl-reg .panel-footer a {
	color: white;
	text-decoration: none;
}

#fl-reg .panel-footer a:first-child {
	margin-right: 60px;
}

#fl-reg .panel-footer a:hover, #fl-reg .panel-footer a:focus {
	color: #337ab7;
}

#fl-error {
	width: 320px;
    margin: auto;
    line-height: 24px;
    opacity: 1;
}

#fl-error-icon {
    float: left;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-image: url(../image/error.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#fl-checkbox-agree {
    float: left;
}

#agreement {
    float: left;
    display: block;
    padding-top: 7px;
    margin-left: 10px;
    color: #428bca;
    cursor: pointer;
}
